<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>Главная</title>
</head>
<body>
	<div class="jumbotron">
		<h1 class="display-4">Добро пожаловать в блог</h1>
		<p class="lead">
		<p>Тут короче очень длинное описание которое характеризует этот сайт</p>
		<p class="lead">
			<a class="btn btn-success btn-lg" href="/signin" role="button">Войти</a>
			<a class="btn btn-primary btn-lg" href="/register" role="button">Регистрация</a>
		</p>
	</div>
	
</body>
</html>